.body{
  background-image:url("https://nb.bbend.net/media/news/2016/05/20/697961/main/katadiki.jpg");
}

label {
  display: block;
  margin-top: 0px;
}

.card-container.card {
  max-width: 400px !important;
  padding: 40px 40px;
}

.card {
  background-color: #3c3f52;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 0px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  color: whitesmoke;
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.login-btn{
  margin-top: 13px;
  margin-bottom: 5px;
}

p{
  margin-top: 9px;

}

.fg {
  color: white;
}


.law-image{
  margin-top: 14rem;
  margin-left: 35rem;

}
