<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Appointment</div>

      <h2 style="color: gray;">Appointment - list</h2>

      <div class="appointment">
        <div class="white_box_30px mb_30" style="background-color: rgb(194, 152, 152);color: white;">
          <div class="box_header common_table_header ">
              <div class="main-title d-md-flex">
                  <h3 class="mb-0 mr-30 mb_xs_15px mb_sm_20px">Appointment</h3>
              </div>
          </div>


          <div class="QA_section3 QA_section_heading_custom th_padding_l0 " style="color: rgb(226, 223, 223);">
              <div class="QA_table">
                  <!-- table-responsive -->
                  <div class="table-responsive" >
                  <table class="table pt-0 shadow_none pb-0 " style="background-color: rgb(211, 195, 195); color: rgb(255, 255, 255);">
                          <tbody>
                              <tr style="color: white;">
                                  <th>Title</th>
                                  <th>Data</th>
                                  <th>Contato</th>
                              </tr>

                                                                           <tr>
                                  <td><a>meeting for what</a></td>
                                  <td>17th Oct, 2022</td>
                                  <td>Randi</td>
                              </tr>
                                                                           <tr>
                                  <td><a>pruebav2</a></td>
                                  <td>27th Sep, 2022</td>
                                  <td>Randi</td>
                              </tr>
                                                                           <tr>
                                  <td><a>aaaaaaaaa</a></td>
                                  <td>28th Sep, 2022</td>
                                  <td>Randi</td>
                              </tr>
                                                                           <tr>
                                  <td><a>, m, ,m m, m m m, m.</a></td>
                                  <td>27th Sep, 2022</td>
                                  <td>Liza</td>
                              </tr>
                                                                           <tr>
                                  <td><a>test</a></td>
                                  <td>27th Sep, 2022</td>
                                  <td>Randi</td>
                              </tr>
                                                                           <tr>
                                  <td><a>Test</a></td>
                                  <td>21st Sep, 2022</td>
                                  <td>Liza</td>
                              </tr>
                                                                           <tr>
                                  <td><a>test</a></td>
                                  <td>13th Sep, 2022</td>
                                  <td>Liza</td>
                              </tr>
                                                                           <tr>
                                  <td><a>asd</a></td>
                                  <td>12th Sep, 2022</td>
                                  <td>Liza</td>
                              </tr>
                                                                           <tr>
                                  <td><a>בדיקה</a></td>
                                  <td>6th Sep, 2022</td>
                                  <td>Sacha</td>
                              </tr>
                                                                           <tr>
                                  <td><a>aaaaaaa</a></td>
                                  <td>6th Jul, 2022</td>
                                  <td>Randi</td>
                              </tr>

                         </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
      </div>
</div>
